$icon-size: 30%;
$button-size: 64px;

.mat-cell {
  padding: 0 5px;
}

.table {
  height: 80%;
  overflow-y: scroll;

  table {
    width: 100%;
  }

  tr {
    cursor: pointer;
  }
}

.selected-row {
  background-color: orange;
}

.playing-row {
  background-color: lightgray;
}

.footer {
  width: 98%;
  margin-top: 5px;

  > * {
    padding: 0 5px;
  }

  .footer-buttons {
    position: relative;

    .sound-volume {
      position: absolute;
      width: $button-size;
      top: -190px;
      right: 4px;
    }

    .action-button {
      width: $button-size;
      height: $button-size;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: calc((100% - #{$icon-size}) / 2);
        left: calc((100% - #{$icon-size}) / 2);
        z-index: -1;
      }

      &.selected {
        background-color: darkgray;
      }

      &.next::before {
        background: url("~src/assets/img/next.png") 0 0 no-repeat;
        background-size: $icon-size;
      }

      &.play::before {
        background: url("~src/assets/img/play.png") 0 0 no-repeat;
        background-size: $icon-size;
      }

      &.pause::before {
        background: url("~src/assets/img/pause.png") 0 0 no-repeat;
        background-size: $icon-size;
      }

      &.shuffle::before {
        background: url("~src/assets/img/shuffle.png") 0 0 no-repeat;
        background-size: $icon-size;
      }

      &.sound_muted::before {
        background: url("~src/assets/img/sound_muted.png") 0 0 no-repeat;
        background-size: $icon-size;
      }

      &.sound_quiet::before {
        background: url("~src/assets/img/sound_quiet.png") 0 0 no-repeat;
        background-size: $icon-size;
      }

      &.sound_loud::before {
        background: url("~src/assets/img/sound_loud.png") 0 0 no-repeat;
        background-size: $icon-size;
      }

      &.repeat_one::before {
        background: url("~src/assets/img/repeat_one.png") 0 0 no-repeat;
        background-size: $icon-size;
      }

      &.repeat_all::before {
        background: url("~src/assets/img/repeat_all.png") 0 0 no-repeat;
        background-size: $icon-size;
      }

      &.previous::before {
        background: url("~src/assets/img/next.png") 0 0 no-repeat;
        background-size: $icon-size;
        transform: rotate(180deg);
        top: calc(-1 * (100% - #{$icon-size}) / 2);
        left: calc(-1 * (100% - #{$icon-size}) / 2);
      }
    }
  }

  .progress {
    width: auto;
    //min-width: 100%;
  }

  .footer__info {
    white-space: nowrap;
  }
}

.mat-row {
  &:hover {
    background-color: lightgray;
  }
}
.my-slider {
  width: 100%;
}
